html {
	background-color: #fbfbfb;
}

body {
	-webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
	font-family: 'Abel', sans-serif !important;
}

h1, h2, h3 {
	font-family: 'Abel', sans-serif !important;
}

c1 {
	color: #6642ff;
}

c2 {
	color: #5be55b;
}

c3{
	color: #fd2d2d;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;	
	box-sizing: border-box;
}
.container-lg {
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;	
	box-sizing: border-box;
}




.navbar {
	padding: 0 !important;
	position: fixed;
	max-width: 1200px !important;
	transition-duration: 0s !important;
	background-color: #fbfbfb !important;
}
.navbar ,
.navbar-item{
	font-family: 'Abel', sans-serif !important;
	box-shadow: none !important;
}
.navbar h1{
	/*background-color: #fbfbfb;*/
	font-size: 30px !important;
	color: #222 !important;
	padding: 20px 0 0px 0 !important;
	width: 20% !important;
	height: 44px !important;
}
.navbar .navbar-item{
	margin-top: 23px !important;
	border-radius: 0px !important;
}
.navbar .navbar-item:hover{
	text-decoration: underline solid grey !important;
}
.navbar .navbar-item-icon{
	margin-top: 25px !important;
	min-width: 50px !important;
	display: none !important;
}
.navbar .right-nav{
	margin-right: 50px;
}
.navbar .right-nav span{
	color: #222 !important;
}

.nav-item-list.drawer{
	width: 60%;
	float: left;
}
.navbar-item.drawer{
	width: 100% !important;
	border-radius: 0px !important;
	text-align: left !important;
	margin: 33px 0 0 0 !important;
}
.navbar-item.drawer:hover{
	text-decoration: underline solid grey !important;
}
.navbar-item-icon.drawer{
	float: right !important;
	margin-top: 33px !important;
	min-width: 50px !important;
	margin-right: 10px !important;
}

.navbar.transparent{
	background-color: transparent !important;
	transition-duration: 0s !important;
}
.navbar.transparent.work-color h1,
.navbar.transparent.work-color .right-nav span{
	color: white !important;
}
.navbar.transparent.work-color.work-section
{
	background-color: #222 !important;
}


@media (max-width: 479px){
}

@media (max-width: 767px){
	.navbar .navbar-item{
		display: none !important;
	}
	.navbar .navbar-item-icon{
		display: block !important;
	}
}

@media (max-width: 991px){
}

.landing{
	padding-bottom: 50px;
	-webkit-background-size: cover, auto;
    -moz-background-size: cover, auto;
    -o-background-size: cover, auto;
	background-size: cover, auto;
}

.landing h1{
	font-weight: normal;
}
.landing .container{
	padding: 0 24px 0 24px !important;
}

.landing .profile {
	max-width: 700px;
	text-align: justify;
	padding-bottom:0px;
	padding-top: 90px;
}
.landing .profile p {
	font-family: 'Abel', sans-serif !important;
	font-size: 1.1em;
}
.landing .profile .personal-info{
	font-style: italic;
	line-height: 5px;
	padding: 0 0 5px 0;
}

.landing .quick-info{
	width: 600px;
	float: right;
	background-color: #313131;
	margin-top: 50px;
	color: white !important;
	padding: 12px 24px 12px 24px;
}
.landing .quick-info .email{
	width: 100%;
	font-style: italic;
}
.landing .quick-info .email .email-value{
	float: right;
	-webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently */
}


.about{
	background-color: #fbfbfb;
	height: 100vh;
	top: 0px !important;
}
.about h1{
	font-weight: normal;
}
.about .container-lg{
	padding-top: 40px;
}
.about .main {
	background-color: white;
	max-height: 600px;
	width: 100%;
	overflow: hidden;
}
.about .main-img {
	height: 600px;
	float: left;
	margin-right: 50px;
}
.about .main-text {
	padding: 25px;
}

@media (max-width: 900px){
	.about .main {
		max-height: 400px;
	}
	.about .main-img {
		height: 400px;
	}
	.landing .main-text {
	}
}


.section {
	width: 100%;
	border-top: 2px solid black;
	position: relative;
	min-height: 300px;
}
.work{
	background-color: #222;
	color: white;
	min-height: 100vh;
}
.work hr{
	background-color: white !important;
}
.section .section-header {
	font-size: 2.2em;
	background-color: lightgrey;
	float: left;
	position: absolute;
  	transform-origin: 0 100%;
	-webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.section .section-header .section-header-rotate {
	width: 250px;
	padding-left: 5px;
	-webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.section .container {
	max-width: 1270px;
}

.section .section-content {
	margin-left: 60px;
}

.section .subsection {
	float: left;
	margin-right: 20px;
}
.section .subsection .title {
	text-align: justify;
	font-size: 2em;
	margin-left: 0px;
	margin-top: 35px;
}
.section .subsection h2, 
.section .subsection h3, 
.section .subsection p{
	width: auto;
	margin: 0;
}
.section .subsection h3 {
	width: auto;
	margin: 0;
}
.section .subsection hr {
	max-width: 80px;
	margin: 5px 0 5px 0;
	height: 5px;
	border: none;
	background-color: black;
}