body {
	-webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

h1, h2, h3 {
	font-family: 'Abel', sans-serif !important;
}

c1 {
	color: #6642ff;
}

c2 {
	color: #5be55b;
}

c3{
	color: #fd2d2d;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;	
	box-sizing: border-box;
}
.container-lg {
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;	
	box-sizing: border-box;
}

.navbar{
	padding: 0 !important;
}
.navbar, 
.navbar-item {
	background-color: rgba(0,0,0,0) !important;
	font-family: 'Abel', sans-serif !important;
	box-shadow: none !important;
}
.navbar h1{
	font-size: 30px !important;
	color: #222 !important;
	padding: 20px 0 20px 0 !important;
}
.navbar .navbar-item{
	margin-top: 23px !important;
	border-radius: 0px !important;
}
.navbar .navbar-item:hover{
	text-decoration: underline solid grey !important;
}
.navbar .navbar-item-icon{
	margin-top: 25px !important;
	min-width: 50px !important;
	display: none !important;
}

.nav-item-list.drawer{
	width: 60%;
	float: left;
}
.navbar-item.drawer{
	width: 100% !important;
	border-radius: 0px !important;
	text-align: left !important;
	margin: 33px 0 0 0 !important;
}
.navbar-item.drawer:hover{
	text-decoration: underline solid grey !important;
}
.navbar-item-icon.drawer{
	float: right !important;
	margin-top: 33px !important;
	min-width: 50px !important;
	margin-right: 10px !important;
}

@media (max-width: 479px){
}

@media (max-width: 767px){
	.navbar .navbar-item{
		display: none !important;
	}
	.navbar .navbar-item-icon{
		display: block !important;
	}
}

@media (max-width: 991px){
}

.landing{
	background-color: #fbfbfb;
	height: 100vh;
}
.landing h1{
	font-weight: normal;
	font-size: 3em;
}
.landing .container{
	padding: 0 24px 0 24px !important;
}
.landing .quick-info{
	width: 600px;
	float: right;
	background-color: #313131;
	margin-top: 50px;
	color: white !important;
	padding: 12px 24px 12px 24px;
}
.landing .quick-info .email{
	width: 100%;
	font-style: italic;
}
.landing .quick-info .email .email-value{
	float: right;
	-webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently */
}


.about{
	background-color: #fbfbfb;
	height: 100vh;
	top: 0px !important;
}
.about h1{
	font-weight: normal;
}
.about .container-lg{
	padding-top: 40px;
}
.about .main {
	background-color: white;
	max-height: 600px;
	width: 100%;
	overflow: hidden;
}
.about .main-img {
	height: 600px;
	float: left;
	margin-right: 50px;
}
.about .main-text {
	padding: 25px;
}

@media (max-width: 900px){
	.about .main {
		max-height: 400px;
	}
	.about .main-img {
		height: 400px;
	}
	.landing .main-text {
	}
}
